{% extends "layout.njk" %}

{% block content %}
    <div id="wrapper">
        <img class="img_back" src="img/vegan_wrapper.jpg" alt="Foodfy">
        <img class="img_chef" src="img/chef.png" alt="Foodfy">
        
        <div class="info">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
    </div>

    <div class="mais_acessadas">
        <h1 id="title">Mais acessadas</h1>
    </div>

    <section class="cards">
        {% for item in items %}
        <div class="card" id="{{item.id}}">
            <div class="card_image">
                <img src="{{item.imagem}}" alt="burguer" title="Foto de {{item.nome}}">
            </div>
            
            <div class="card_info">
                <p class="nome">{{item.nome}}</p>
                <p class="chef">
                    <a class="chef_url" href="{{item.chef_url}}" target="_blank">{{item.chef}}</a>
                </p>
            </div>

        </div>
        {% endfor %}
    </section>

    <script src="scripts/receita_script.js"></script>
    
{%endblock%}

        
        

        



    

    <!-- -->
    <div class="modal_overlay">
        <div class="modal">
            <div class="modal_image">
                <img src="img/burger.png">
            </div>

            <div class="modal_conteudo">
                <h1 class="nome"></h1>
                <p class="chef"></p>
            </div>

            <a class="modal_fechar">
                <P>Fechar modal</P>
            </a>
        </div>
    </div>

    <script src="scripts/receita_script.js"></script>
    
